.item2 {
    background-color: #FFFF00;
    color: #002060;
}

.item1 {
    background-color: #fff;
    color: #000;
}

.item3 {
    background-color: #C55A11;
    color: #000;
}

.item4 {
    background-color: #FF0000;
    color: #FFFF00;
}
.form-title {
    background-color: #E2F0D9;
    color: #C00000;
}
.form-label-pdf {
    background-color: #FBE5D6;
    color: #000000;
}